<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Movie</title>
    <link rel="stylesheet"  href="/view.css" >

</head>
<body>
    <h1>Single Movie</h1>
    <h4><%= movie.title  %></h4>
    <h4><%= movie.director  %></h4>
    <h4><%= movie.actors %></h4>
    <h4><%= movie.year %></h4>
    <h4><%= movie.category%></h4>
    <a  href="/" >Back</a>

    


    
</body>
</html>